<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
    <!-- 横幅が狭い時に出るハンバーガーボタン -->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>

    <!-- ホームへ戻るリンク。ブランドロゴなどを置く。 -->
    <a class="navbar-brand" href="#">P&amp;K</a>
  </div>

  <!-- メニュー項目 -->
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
    <li class="active"><a href="#">子犬</a></li>
    <li><a href="#">子猫</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">会社情報<span class="caret"></span></a>
      <ul class="dropdown-menu">
      <li><a href="#">ビジョン</a></li>
      <li><a href="#">会社概要</a></li>
      <li><a href="#">地図</a></li>
      <li><a href="#">沿革</a></li>
      </ul>
    </li>
    <li><a href="#">お問い合わせ</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>